.quote {
    @include wrapper-sm;
    padding: 20rem 2rem 20rem;
    span {
        text-align: center;
        width: 100%;
        display: block;
        margin-bottom: 1rem;
        font-size: 3.5rem;
    
        @include screen-sm {
            font-size: 4rem;
        }
        @include screen-md {
            font-size: 4.5rem;
        }
        @include screen-lg {
            font-size: 5rem;
        }
        @include screen-xl {
            font-size: 5.5rem;
        }
    }

    .small {
        font-size: 1.5rem;

        @include screen-sm {
            font-size: 1.75rem;
        }
        @include screen-md {
            font-size: 2.5rem;
        }
        @include screen-lg {
            font-size: 3rem;
        }
        @include screen-xl {
            font-size: 3rem;
        }
    }

    
}