.shape-2 {
    background: rgb(255,255,255);
    background: linear-gradient(60deg, rgb(255, 255, 255) 0%, rgba(0,0,0,1) 120%); 
    position: absolute;
    top: 51%;
    left: 50%;
    opacity: 0.3;
    transform: translate(-50%, -50%);
    width: 33.5rem;
    height: 30rem;
    background-color: rgba(128, 128, 128, 0.312);
    mix-blend-mode: color-burn;
    // border-radius: 68% 71% 69% 70% / 72% 71% 63% 64%;  
    border-radius: 50% 50% 41% 59% / 54% 42% 58% 46% ;  
    z-index: 99;
}

body {
    font-family: ocr-a-std, monospace;
    color: $color-primary;
    line-height: 1.5;
    position: relative;
    z-index: -100;
}

.hide {
   visibility: hidden;
}         

.show {
    visibility: visible;
}
