<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="https://use.typekit.net/utj5udy.css">
    <title>Document</title>
</head>

<body>
    <section class="hero">
        <div class="hero__content wrapper">
            <header class="header wrapper">
                <svg class="header__logo" xmlns="http://www.w3.org/2000/svg" width="44" height="59" viewBox="0 0 44 59"><g transform="translate(-139 -26)"><text transform="translate(139 64)" fill="#465cc5" font-size="39" font-family="PlakatoPro-Regular, Plakato Pro"><tspan x="0" y="0">d</tspan></text><text transform="translate(160 68)" fill="#465cc5" font-size="39" font-family="PlakatoPro-Regular, Plakato Pro"><tspan x="0" y="0">b</tspan></text></g></svg>
                <a href="#" class="header__nav">menu</a>
                <a href="/contact" class="header__contact">contact</a> 
            </header>
            <div class="hero__footer">
                <p>Creatieve duizendpoot, begeesterd door code met een vurige passie voor esthetiek</p>
            </div>
        </div>
    </section>
    <svg class="noise" viewBox='0 0 250 550' xmlns='http://www.w3.org/2000/svg'>
        <filter id='noiseFilter'>
            <feTurbulence type='fractalNoise' baseFrequency='4' numOctaves='3' stitchTiles='stitch' />
        </filter>
        <rect width='100%' height='100%' filter='url(#noiseFilter)' />
    </svg>
    <div class="shape"></div>

    <div class="introduction">
        <span class="name">Arnaud De Burchgraeve</span><br />
        <span class="title">Creative Developer & Graphic Designer</span>
    </div>
</body>

</html>
<script src="bundle.js" defer async></script>
</body>

</html>