.about {
    width: 100vw;
    margin-top: 5rem;

    .about__content {
        @include flex-column-center;

        @include screen-md {
            flex-direction: row;
            padding: 0 2rem;
            @include wrapper-md;
            justify-content: center;
            gap: 2rem;
        }
        
        @include screen-lg {
            justify-content: space-evenly;
        }

        @include screen-xl {
            gap: 7.5rem;
        }

        .about__text {
            text-align: center;
            width: calc(100vw - 4rem);
            font-size: 0.9rem;
            margin-bottom: 1.5rem;

            @include screen-sm {
                font-size: 1rem;
                margin-bottom: 3rem;
                width: calc(100vw - 8rem);
            }

            @include screen-md {
                font-size: 0.9rem;
                margin-bottom: 4rem;
                width: 30rem;
                padding: 0 2rem;
            }

            @include screen-lg {
                font-size: 1rem;
                padding: 0;
            }

            @include screen-xl {
                margin-bottom: 5rem;
                font-size: 1.1rem;
                width: 35rem;
            }
        }


        .about__img {
            margin-top: auto;
            transform: scale(1.1);
            position: relative;
            left: 20%;
            filter: brightness(95%) contrast(100%);

            @include screen-md {
                left: 0;
                transform: scale(1.2);
            }

            @include screen-lg {
                transform: scale(1.3);
                left: 0%;
            }

            @include screen-xl {
                bottom: 15%;
                transform: scale(1.6);
            }
        }

        img {
            position: relative;
            width: 18rem;
            z-index: 100;
            filter: contrast(95%);

        }

        .about__shape {
            position: absolute;
            left: 0;
            top: 29%;
            transform: rotate(8deg);
            z-index: 0;

            .shape-noise {
                height: 20rem;
                width: 20rem;
                opacity: 0.25;
            }
        }
    }
}