.header {
    display: flex;
    align-items: center;
    gap: 3rem;
    height: 6rem;
    width: 100%;

    .header__nav {
        position: relative;
        font-family: ocr-a-std, monospace;

        &::before {
            content: "";
            position: absolute;
            height: 100%;
            width: 1px;
            background-color: $color-secondary;
            left: -1.5rem;
            z-index: 100;
        }
    }

    .header__contact {
        margin-left: auto;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            height: 7rem;
            width: 0.5px;
            background-color: black;
            top: -3rem;
            left: -10rem;
            z-index: 100;
        }
    }
}