.header {
    display: flex;
    align-items: center;
    gap: 2rem;
    height: 6rem;
    width: 100%;
    margin-bottom: 2.5rem;
    @include wrapper-md;
    position: sticky;
    top: 0;

    .header__logo {
        width: 2.5rem;
        fill: $color-primary-1;
    }

    .header__seperation-line {
            height: 1.5rem;
            width: 1px;
            position: relative; 
            top: 2.25rem;
            background-color: $color-neutral-4;
            align-self: start;
    }

    .header__nav {
        position: relative;

        .header__menu {
            display: flex;
            align-items: center;
            gap: 1rem;
            position: relative;
            font-family: ocr-a-std, monospace;
            font-size: 0.9rem;

            @include screen-lg {
                font-size: 1rem;
            }

            a {
                color: $color-primary-1;
            }

            i {
                font-size: 0.8rem;
            }
        }

        .header__nav-items {
            position: absolute;
            @include flex-column;
            gap: 0.5rem;
            padding: 1rem 0;

            .header__nav-item {
                a {
                    color: $color-primary-1;
                    font-size: 0.9rem;
                    transition: color 0.3s ease;

                    &:hover {
                        color: #46e0c9;
                    }
                }

            }
        }
    }

    .header__socials {
        display: none;

        @include screen-md {
            margin-left: auto;
            position: relative;
            display: flex;
            font-size: 1.4rem;
            gap: 1rem;

            a {
                color: $color-primary-1;
                transition: color 0.3s ease;

                &:hover {
                    color: #46e0c9;
                }
            }
        }

        @include screen-lg {
            font-size: 1.5rem;
        }
    }
}