.hero {
    position: relative;
    height: 100vh;
    width: 100vw;

    &::before {
        content: "";
        position: absolute;
        height: 1px;
        width: 5rem;
        background-color: $color-secondary;
        left: 0;
        bottom: 22.5vh;
    }

    &::after {
        content: "";
        position: absolute;
        width: 1px;
        height: 7.5rem;
        background-color: $color-secondary;
        right: 30vw;
        top: 0;
    }


    .hero__content {
        height: 100%;
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .hero__body {
            color: $color-primary;
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            .hero__name {
                font-size: 6vw;
                line-height: 1.25;
                position: relative;
                z-index: 100;

                &::before {
                    content: "";
                    position: absolute;
                    height: 1px;
                    width: 2rem;
                    background-color: $color-primary;
                    left: 50%;
                    transform: translateX(-50%);
                    bottom: -0.5rem;
                }
            }

            .hero__title {
                font-size: 3vw;
                z-index: 100;
            }

            .hero__shape {
                opacity: 0.8;

                .shape-noise,
                .shape-overlay {
                    position: absolute;
                    height: 80vw; 
                    width: 80vw;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
            
        }


        .hero__footer {
            display: flex;
            align-self: end;
            margin: 0 4rem 0.5rem 0;
            gap: 0.5rem;
            position: relative;

            &::before {
                content: "Scroll";
                position: absolute;
                transform: rotate(90deg);
                font-family: ocr-a-std, monospace;
                color: $color-primary;
                font-size: 1rem;
                right: -3rem;
                top: 1.5rem;
            }

            p {
                width: 15rem;
                font-size: 0.8rem;
                position: relative;


                &::before {
                    content: "";
                    position: absolute;
                    height: 10rem;
                    width: 1px;
                    background-color: black;
                    right: 0;
                    top: -1rem;
                    z-index: 100;
                }
            }
        }
    }
}