.hero {
    position: relative;
    padding: 0 2rem;
    @include full-screen();

    &::before {
        content: "";
        position: absolute;
        height: 1px;
        width: 12.5vw;
        background-color: $color-neutral-4;
        left: 0;
        bottom: 30vh;
    }

    &::after {
        content: "";
        position: absolute;
        width: 1px;
        height: 7.5rem;
        background-color: $color-secondary-1;
        right: 30vw;
        top: 0;
    }

    .hero__content {
        @include full-spacing();
        @include flex-column-justify-between();
        @include wrapper();
        gap: 2rem;

        .hero__body {
            color: $color-primary-1;
            text-align: center;
            @include flex-column-center();
            gap: 0.75rem;
            margin-top: 2.5rem;


            .hero__shape {
                margin-bottom: 3.5rem;
                display: flex;
                opacity: 0.85;

                @include screen-md {
                    margin-bottom: 4rem;
                
                }

                @include screen-lg {
                    margin-bottom: 4.5rem;
                }

                @include screen-xl {
                    margin-bottom: 5rem;
                }

                * {
                    position: relative;
                        width: 30vw;
                        height: 35vw;
                    // max-width: 9rem;
                    // max-height: 10rem;

                    @include screen-sm {
                        width: 8.5rem;
                        height: 10rem;
                    }
                    
                    @include screen-md {                      
                        width: 10rem;
                        height: 11.5rem;
                    }
                    
                    @include screen-lg {
                        width: 12rem;
                        height: 13.5rem;
                    }
                    
                    @include screen-xl {
                        width: 14rem;
                        height: 15.5rem;
                    }
                }

                .d-1 {
                    transform: scale(1) rotate(10deg);
                    top: 20%;
                    left: 23%;
                    opacity: 1;
                
                }
                
                .d-2 {
                    transform: scale(1.2) rotate(8.5deg);
                    left: 3%;
                    opacity: 1;
                }
                
                .d-3 {     
                    transform: scale(1.1) rotate(-9deg);
                    top: 9%;
                    left: -20%;
                    opacity: 1;
                }
            }

            .hero__name {
                color: $color-primary-1;
                font-size: 6vw;
                line-height: 1.25;
                position: relative;
                z-index: 100;
                width: 50vw;
                
                @include screen-sm {
                    font-size: 2rem;
                }
                
                @include screen-md {
                    font-size: 2.1rem;
                }
                
                @include screen-lg {
                    font-size: 2.5rem;
                    width: 100vw;
                }

                &::before {
                    content: "";
                    position: absolute;
                    height: 1px;
                    width: 2rem;
                    background-color: $color-primary-1;
                    left: 50%;
                    transform: translateX(-50%);
                    bottom: -0.5rem;
                }
            }

            .hero__title {
                color: $color-primary-1;

                font-size: 3.5vw;
                z-index: 100;

                @include screen-sm {
                    font-size: 1rem;
                }

                @include screen-md {
                    font-size: 1.15rem;
                }
            }
        }


        .hero__footer {
            display: flex;
            align-self: end;
            margin: 0 4rem 0.5rem 0;
            gap: 0.5rem;
            position: relative;
            opacity: 1;

            .text {
                height: 10rem;
                width: 10rem;
            }
            
            @include screen-lg {
                margin: 0 8rem 0.5rem 0;
            }

            @include screen-lg {
                margin: 0 10rem 0.5rem 0;
            }

            &::before {
                content: "Scroll";
                position: absolute;
                transform: rotate(90deg);
                font-family: ocr-a-std, monospace;
                font-size: 1rem;
                right: -3rem;
                top: 1.5rem;
                color: $color-primary-1;

                @include screen-lg {
                    font-size: 1.1rem;
                    right: -3.5rem
                }
            }

            p {
                width: 15rem;
                font-size: 0.8rem;
                position: relative;
                color: $color-primary-1;


                @include screen-sm {
                    width: 17rem;
                    font-size: 0.9rem;
                }

                @include screen-md {
                    width: 18rem;
                    font-size: 1rem;
                }

                @include screen-lg {
                    width: 18rem;
                    font-size: 1rem;
                }


                &::before {
                    content: "";
                    position: absolute;
                    height: 12.5rem;
                    width: 1px;
                    background-color: black;
                    right: 0;
                    top: -1rem;
                    z-index: 100;
                }
            }
        }
    }
}