.projects {
    @include wrapper-md;

    h2 {
        text-align: center;
        font-size: 1.5rem;
        margin-bottom: 1rem;

    }

    .projects__container {
        // width: 100vw;
        display: flex;
        gap: 1rem;
        overflow-x: scroll;
        scroll-behavior: smooth;
        position: relative;
        padding-left: 2rem;
        margin-bottom: 2.5rem;

        @include screen-md {
            justify-content: space-between;
            overflow-x: visible;
            flex-wrap: wrap;
            padding: 0 2rem;
        }
        
        .project {
            width: 15rem;
            height: 25rem;
            aspect-ratio: 16/9;
            background-size: cover;
            position: relative;
            filter: grayscale(100%);
            opacity: 0.85;
            position: relative;

            &:hover {
                filter: grayscale(0%);
            }

            @include screen-md {
                height: 20rem;
                width: calc(50% - 0.5rem);
            }
            
            @include screen-lg {                
                height: 25rem;
                width: calc(25% - 1rem);
            }

            figcaption {
                font-size: 2rem;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: white;
                text-shadow: 1px 1px 4px $color-secondary;
            }

            .project__detail {
                @include flex-middle;
                background-color: #2c47ceeb;
                position: absolute;
                z-index: 100;
                width: calc(100% - 2rem);
                height: calc(100% - 2rem);
                margin: 1rem;
                padding: 1rem;
                color: $color-neutral-2;
                opacity: 0;

                &:hover {
                    opacity: 1;
                }
                
                .project__title {
                    margin-bottom: 1rem;
                    text-align: center;
                    
                    @include screen-md {
                        font-size: 1.3rem;
                    } 
                }
                
                p {
                    font-size: 0.7rem;
                    line-height: 2;
                    text-align: center;
                    
                    @include screen-md {
                        font-size: 0.9rem;
                    } 

                    @include screen-lg {
                        line-height: 1.5;
                    }
                }
                
                a {
                    background-color: $color-neutral-2;
                    color: $color-primary-1;
                    font-size: 0.7rem;
                    padding: 0.5rem;
                    text-align: center;
                    display: block;

                    @include screen-md {
                        font-size: 0.9rem;
                    } 
                }
            }
        }

    }
}