.skills {
    background-color: $color-primary-1;
    padding: 5rem 0;
    position: relative;
    width: 100vw;
    
    @include screen-xl {
        padding: 10rem 0;

    }

    .skills__content {
        @include flex-column-center;
        gap: 5rem;
        @include wrapper-sm;
        
        @include screen-md {
            margin-bottom: 2.5rem;
            flex-direction: row;
            justify-content: center;
            align-items: baseline;
        }

        @include screen-xl {
            gap: 7.5rem;
            justify-content: space-between
        }
    
        .skill {
            @include flex-column-center;
            gap: 1rem;

            @include screen-md {
            }

            .skill__img {
                fill: $color-neutral-2;                
                width: 12.5rem;

                @include screen-md {
                    width: 10rem;
                }
                
                @include screen-lg {
                    width: 12rem;
                }

                @include screen-xl {
                    width: 13rem;
                }
            }
            
            .skill__name {
                color: $color-neutral-1;                
                font-size: 1.1rem;
                text-align: center;
                width: 100%;

                @include screen-md {
                    font-size: 0.9rem;
                }

                @include screen-lg {
                    font-size: 1rem;
                }
                
                @include screen-xl {
                    font-size: 1.1rem;
                }
            }
        }
    }
}
